{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block futbolero_content %}
        <div>
            <h1>Hola {{ current_user.username }}!</h1>
            <div>
                <h3><b>Fecha en juego</b></h2>
                <h4>Temporada {{ fixture[0].season}}</h4>
                <h4>Semana {{ fixture[0].round }}</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Local</th>
                            <th>Resultado</th>
                            <th>Visitante</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in fixture %}
                            <tr>
                                <td>{{ row.date }}</td>
                                <td >{{ row.homeTeam }}    <img src={{ row.homelogo }} alt="Lamp" width="32" height="32">
                                </td>
                                {% if row.score[0] == None %}
                                    <td>Pendiente</td>
                                {% else %}
                                    <td>{{ row.score }}</td>
                                {% endif %}
                                <td><img src={{ row.awaylogo }} alt="Lamp" width="32" height="32">    {{ row.awayTeam }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <h3><b>Tabla de Posiciones</b></h3>
                <table>
                    <thead>
                        <tr>
                            <th>Posición</th>
                            <th >Equipo</th>
                            <th>Puntos</th>
                            <th>PJ</th>
                            <th>PG</th>
                            <th>PE</th>
                            <th>PP</th>
                            <th>GA</th>
                            <th>GC</th>
                            <th>DG</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in table %}
                        <tr>
                            <td><b>{{ row.standing }}</b></td>
                            <td >{{ row.team }}    <img src={{ row.teamlogo }} alt="Lamp" width="32" height="32"></td>
                            <td>{{ row.points }}</td>
                            <td>{{ row.PG }}</td>
                            <td>{{ row.Wons }}</td>
                            <td>{{ row.Draws }}</td>
                            <td>{{ row.Loses }}</td>
                            <td>{{ row.goals }}</td>
                            <td>{{ row.goals_against }}</td>
                            <td>{{ row.goals_diff }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}