{% extends "base.html" %} 

{% block content %}
    {% if current_user.is_anonymous %}
    <h6>¿No ingresaste?<a href="{{ url_for('auth.login') }}">¡Hacelo aquí!</a></h6>
    {% else %}
    <h1>¡Hola {{ current_user.username }}!</h1>
    {% endif %}
    
    {% if fixture %}
    <h3>Temporada {{ fixture[0].season }}</h3>

    <form method="POST">
        <button type="submit" name="button" value="PD">La Liga</button>
        <button type="submit" name="button" value="SA">Serie A</button>
        <button type="submit" name="button" value="FL1">Ligue 1</button>
        <button type="submit" name="button" value="BL1">Bundesliga</button>
        <button type="submit" name="button" value="PL">Premier League</button>
    </form>





    <h3>Semana {{ fixture[0].round }}</h3>
    {% if fixture == False %}
        <h2>La temporado ha finalizado</h2>
    {% else %}
        <table class="table table-sm">
            <h2>Fecha en juego</h2>
            <thead style="text-align: center;">
                <tr>
                    <th>Fecha</th>
                    <th>Local</th>
                    <th></th>
                    <th>Resultado</th>
                    <th></th>
                    <th>Visitante</th>
                </tr>
            </thead>
            <tbody>
            {% for row in fixture %}
                <tr>
                    <td align="center">{{ row.date }}</td>
                    <td align="right">{{ row.homeTeam }}</td>
                    <td>
                        <img src={{ row.homelogo }} alt="Lamp" width="32" height="32">
                    </td>
                    {% if row.score[0] == None %}
                    <td align="center">Pendiente</td>
                    {% else %}
                    <td align="center">{{ row.score }}</td>
                    {% endif %}
                    <td align="right">
                        <img src={{ row.awaylogo }} alt="Lamp" width="32" height="32">
                    </td>
                    <td>{{ row.awayTeam }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <table class="table table-sm">
        <h2>Tabla de posiciones</h2>
        <thead align="center">
            <tr>
                <th>Posición</th>
                <th colspan="2">Equipo</th>
                <th>Puntos</th>
                <th>PJ</th>
                <th>PG</th>
                <th>PE</th>
                <th>PP</th>
                <th>GA</th>
                <th>GC</th>
                <th>DG</th>
            </tr>
        </thead>
        <tbody align="center">
        {% for row in table %}
            <tr>
                <td>{{ row.standing }}</td>
                <td align="right">{{ row.team }}</td>
                <td>
                    <img src={{ row.teamlogo }} alt="Lamp" width="32" height="32">
                </td>
                <td>{{ row.points }}</td>
                <td>{{ row.PG }}</td>
                <td>{{ row.Wons }}</td>
                <td>{{ row.Draws }}</td>
                <td>{{ row.Loses }}</td>
                <td>{{ row.goals }}</td>
                <td>{{ row.goals_against }}</td>
                <td>{{ row.goals_diff }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>Pendientes</p>
    {% if postponed %}
    {{ postponed }}
    {% else %}
    <p>No hay partido reprogramados</p>
    {% endif %}

    {% else %}
    <h4>Conexión con API no responde</h4>
    <p>Por favor volver a intentar en breve</p>
    {% endif %}


    <article>
    Debate
    {% for post in posts %}
        {% if post.author.image %}
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image) }}">
        {% else %}
        <img src="{{ post.author.avatar(128) }}">
        {% endif %}
        <div class="media-body">
        <div class="article-metadata">
            <p>{{ post.author.username }}
            <small class="text-muted">{{ moment(post.timestamp).format('LLL') }}</small>
            </p>
        </div>
        {% if current_user.is_anonymous %}
        <p>{{ post.body }}</p>
        {% else %}
        <a class="article-content" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.body }}</a>
        {% endif %}
    </div>
    {% endfor %}
    </article>

    {% block scripts %}
    {{ moment.include_moment() }}
    {% endblock %}

{% endblock %}