<!-- i can now simplify index.html by making it inherit from base.html -->
{% extends "base.html" %} 

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <div>
        <table>
            <p>Próxima fecha</p>
            <thead>
                <tr>
                    <th>Temporada</th>
                    <th>Fase</th>
                    <th>Fecha</th>
                    <th>Local</th>
                    <th>Resultado Local</th>
                    <th>Resultado Visitante</th>
                    <th>Visitante</th>
                </tr>
            </thead>
            <tbody>
                <form method="POST" action="" novalidate>
                {% if form != False %}
                    {{ form.hidden_tag() }}
                {% endif %}

                {% for row in range(10) %}
                    <tr>
                        <td>{{ table[row].season }}</td>
                        <td>{{ table[row].round }}</td>
                        <td>{{ table[row].date }}</td>
                        <td>{{ table[row].homeTeam }}</td>

                        {% if form != False %}
                            <td>{{ form.bet[row].home(value=value[row].home) }}</td>
                            <td>{{ form.bet[row].away(value=value[row].away) }}</td>
                        {% else %}
                            <td>Cerrado</td>
                            <td>Cerrado</td>
                        {% endif %}

                        <td>{{ table[row].awayTeam }}</td>
                    </tr>
                {% endfor %}

                {% if form != False %}
                    <tr>
                        <td><button>Bet</button></td>
                        {% if form.bet.errors is defined %}
                            <div><span style="color: red; position: absolute;">{{ form.bet.errors[-1] }}</span></div>
                        {% endif %}
                    </tr>
                {% else %}
                    <td>Las apuestas ya se han cerrado</td>
                {% endif %}

                </form>
            </tbody>
        </table>
        <div>

        </div>
    </div>
{% endblock %}