{% extends "base.html" %}

{% block content %}
    <div class='container' style="margin-top: 40px;">
        <div class="row justify-content-center">
            <div class="col-sm">
                <table>
                    <tr valign="top">
                        <td><img src="{{ user.avatar(128) }}"></td>
                        <td>
                            <h1 style="margin-left: 20px;">Usuario: {{ user.username }}</h1>
                            {% if user.fav_squad %}
                                <p style="margin-left: 20px;">Soy fan del <b>{{ user.fav_squad }}</b>
                                <img src={{ logo }} width="32" height="32" style="margin-left: 20px;">
                                </p>
                            {% endif %}
                            {% if user.last_seen %}
                                <p style="margin-left: 20px;">Última conexión: {{ moment(user.last_seen).format('LLL') }}</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <h3>Ranking de usuarios</h3>
                {% if ranking == false %}
                    <p>Todavía no hay puntos</p>
                {% else %}
                <div>
                    {% for row in ranking %}
                    <table>
                        <tr>
                            <td>Ranking</td>
                            <td>Nombre</td>
                            <td>Puntos</td>
                        </tr>
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ row.name }}</td>
                            <td><b>{{ row.points }}</b></td>
                        </tr>
                    </table>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="col-sm">
                <div class="chart" id="bargraph">
                    <script>
                        var graphs = {{ plot | safe}};
                        Plotly.plot('bargraph',graphs,{});
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}