{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <table>
            <tr valign="top">
                <td><img src="{{ user.avatar(128) }}"></td>
                <td>
                    <h1>Usuario: {{ user.username }}</h1>
                    {% if user.fav_squad %}
                        <p>Soy fan del <b>{{ user.fav_squad }}</b>
                        <img src={{ logo }} width="32" height="32">
                        </p>
                    {% endif %}
                    {% if user.last_seen %}
                        <p>Última conexión: {{ moment(user.last_seen).format('LLL') }}</p>
                    {% endif %}
                </td>
            </tr>
        </table>
        <h3>Ranking de usuarios</h3>
        {% if ranking == false %}
            <p>Todavía no hay puntos</p>
        {% else %}
        <div>
            {% for row in ranking %}
            <table>
                <tr>
                    <td>Ranking</td>
                    <td>Nombre</td>
                    <td>Puntos</td>
                </tr>
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row.name }}</td>
                    <td><b>{{ row.points }}</b></td>
                </tr>
            </table>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}